In [23]:
import re

import nltk
from nltk import ne_chunk, pos_tag, word_tokenize
from nltk.tree import Tree

In [112]:
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('maxent_ne_chunker')
# nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [135]:
def get_regex (inp) :
  phn_3 = re.findall("[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}", inp)
  phn_10 = re.findall("[0-9]{10}", inp)
  email = re.findall("[a-zA-Z0-9-_.]+@[a-zA-Z0-9-_.]+", inp)
  website = re.findall("https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+", inp)

  return phn_3, phn_10, email, website

In [139]:
def get_names(text) :
  names = []
  nltk_results = ne_chunk(pos_tag(word_tokenize(text)))
  for nltk_result in nltk_results:
    if type(nltk_result) == Tree:
      if nltk_result.label() == 'PERSON' :
        name = ''
        for nltk_result_leaf in nltk_result.leaves():
          name += nltk_result_leaf[0] + ' '
          names.append(name)
  return names

In [146]:
text = '''Rajesh and his friends would like to connect with you. 
You can contact him on his line 123-123-1234 or 1231231234 or 3455436756 or 112-221-1122 or else mail him on rajeshmail.com or submit request on his site https://rajesh.com.
Rajesh would be accompanied by Ramesh and James.
'''

In [147]:
p1, p2, e, w = get_regex(text)
na = get_names(text)
res = [p1,p2,e,w] + na

In [148]:
for i in res :
  print(i)

['123-123-1234', '112-221-1122']
['1231231234', '3455436756']
[]
['https://rajesh.com.']
Rajesh
Ramesh
James

In [150]:
if e == None :
  print("yes")